<!DOCTYPE html>
<html lang="fr">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'myfirstapp/index.css' %}">
    <title>{% block title %}Mon Site {% endblock %} </title>
</head>
<body>
<header class="entetesite">
    <h1> mon site web </h1>
    <nav><a href="/myfirstapp/index/"> Accueil </a><a href="/myfirstapp/formulaire"> formulaire </a><a href="https://www.djangoproject.com"> Django project </a></nav>
</header>
<div class="main">
    {% block content %}
        <h1> bloc de contenu </h1>
    {% endblock%}
</div>
</body>
</html>